*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;

}
.container{
    max-width: 1300px;
    background: #32446b;
    padding-top: 60px; 
    margin: 0 auto;
}
body{
    background: #32446b;
}
main{
    background:#ffffff;
}
.resnavbar{
    display:none;
}
.singlePageTitle{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
    color: #000000;
   }
   .singlePageSUbtitle{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 31px;
    color: #000000;
   }
   .SinglePageText{
       font-size: 19px;
       line-height: 31px;
       color: #000000;
       margin-bottom: 10px;
   }
   .SinglePageImg{
    margin-top: 20px;
    margin-bottom: 10px;
   }
   .xabarlar{
       background: #ffffff;
       padding: 50px;
   }

.imglar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}