*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFFFFF;
}
.container{
    max-width: 1152px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: flex-end;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin-right: 35px;
    margin-top: 30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

}
.logonav{
    position: absolute;
    left: 70px;
    margin-top: 30px;
}
.home{
    color: #DAA520 !important;
}
.singup{
    border: 1px solid #3E3F43;
    background: #F9BDBD;
    border-radius: 8px;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    text-align: center;
}
.sec_1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-left: -150px;
}
.sec_1logo{
    position: absolute;
    left: 630px;
    fill: #FFFFFF;
    margin-top: -50px;
}
.sec_1logo2{
    position: absolute;
    left: 560px;
    fill: #FFFFFF;
    color: #FFFFFF;
    margin-top: 160px;
}
.sec_1logo3{
    position: absolute;
    left: 600px;
    fill: #FFFFFF;
    left: 70%;
    top: 70px;
}

.sec_1 h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    width: 504px;
    line-height: 60px;
    color: #3E3F43;
}
.sec_1 h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 504px;
    color: #313235;
}
.sec_1btn{
    outline: none;
    width: 175px;
    height: 50px;
    border-radius: 4px;
    background: #DAA520;
    border: 1px solid #DAA520;
}
.sec1sp{
    color: #000000b9 !important;
}
.sec_2{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    margin-left: 60px;
}
.sec_2tepa{
    display: flex;
    margin-left: 60px;
}
.sec_2orta{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.sec_2past{
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
}
.sec21{
    display: flex;
    flex-direction: column;
    width: 448px;
}
.sec21 h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 80px;
    color: #000000ce;
}
.sec_2sp1{
    color: rgba(0, 0, 0, 0.527);
}
.sec21 p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.sec22{
    display: flex;
    flex-direction: column;
    width: 648px;
}
.sec_2tepah{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #1e1f20;
    margin-top: 20px;
}
.sec_2tepah1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: right;
    margin-left: 10px;
    color: rgba(34, 34, 34, 0.1);
}
.sec_2line{
    width: 400px;
    margin-left: 10px;
}
.sec_2logo{
    margin-top: -10px;
    margin-right: 10px;
}
.sec22 h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #000000af;
}
.sec_2sp2{
    font-weight: 800;
    color: black;
}
.sec22 p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
}
.sec_3tepa{
    display: flex;
    margin-left: 60px;
}
.sec_3tepah{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
    margin-top: 20px;
}
.sec_3tepah1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: right;
    color: rgba(34, 34, 34, 0.1);
    margin-left: 10px;
}
.sec_3line{
    width: 65px;
    margin-left: 10px;
}
.sec_3logo{
    margin-top: -10px;
    margin-right: 10px;
}
.sec_3orta{
    margin-left: 100px;
    margin-top: 50px;
}
.sec_3{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 100px;
}
.sec_3past{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.sec_4line{
    margin-left: 10px;
}
.sec_4tepa{
    display: flex;
    margin-left: 60px;
    margin-top: 100px;
}
.sec_4{
    margin-left: 60px;
}
.categories{
    margin-left: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid gap: 40px;
}
.categories img{
    position: static;
    width: 280px;
    height: 400px;
    margin-top: 30px;
}
.sec_5{
    margin-left: 60px;
}
.sec_5past{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.profile{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.profil p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 352px;
    color: #3E3F43;
}
.profil{
    background: #FFFFFF;
    border: 1px solid #A8DCEC;
    box-sizing: border-box;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 40px 0px 0px 40px;
}
.chapong{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.chapong img{
    width: 95px;
    height: 19px;
}
