*{
    padding: 0;
    margin: 0;
}
body{
    background: #E5E5E5;
}
.asos{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    width: 1440px;
    margin: 0 auto;
    background: white;
}
.chap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-right: 1px solid #E6EFFB;
    width: 234px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 20px;
}
.logo{
    width: 234px;
    height: 84px;
    background: linear-gradient(180deg, #E6EFFB 0%, rgba(230, 239, 251, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.chap h1{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    padding: 40px 0px 20px 20px;
}
.nav p{
    font-family: 'Hind Siliguri', sans-serif;
    margin-left: 10px;
}
.x1{
    margin-top: -20px !important;
}
.log{
    margin-bottom: 20px;
}
.orta{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
    width: 758px;
}
.navbar a{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;   
    letter-spacing: -0.04em;
    color: #7C8DB5;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}
.navbar img{
    margin-right: 30px;
}
.home{
    color: #2D2D2D !important;
}
.books{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 758px;
    height: 300px;
    border: 1px solid #E6EFFB;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 12px 0px 12px 0px;
}
.book1{
    display: flex;
    justify-content: space-between;
    width: 712px;
    height: 24px;
}
.fire{
    display: flex;
    align-items: center;
}
.fire h1{
    margin-left: 10px;
}
.fire img{
    padding-left: 20px;
}
.b1{
    display: flex;
    justify-content: space-around;
}
.b1 h1{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #2D2D2D;
    padding-top: 10px;
}
.b1 h2{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #7C8DB5;
    padding-top: 7px;
}
.book1 h1{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #2D2D2D;
}
.book2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #E6EFFB;
    box-sizing: border-box;
    border-radius: 10px;
    width: 163px;
    height: 205px;
    padding: 15px 0px 0px 15px;
}
.h1{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #7C8DB5 !important;
}
.listen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 758px;
    height: 286px;;
    border: 1px solid #E6EFFB;
    box-sizing: border-box;
    border-radius: 10px;
}
.lb{
    margin: 12px 0px 12px -30px;
}
.lis1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 712px;
    height: 186px;
}
.play{
    display: flex;
    align-items: center;
}
.vaqt{
    display: flex;
    align-items: center;
}
.play h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;  
    letter-spacing: -0.04em;
    color: #2D2D2D;
}
.play h2{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #7C8DB5;
}
.play img{
    margin: 0px 10px 0px 10px;
}
.vaqt h2{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: -0.04em;
    color: #7C8DB5;
    margin-right: 10px;
    text-align: center;
}
.ong{
    display: flex;
    flex-direction: column;
    width: 366px;
    border-left: 1px solid #E6EFFB;
}
.ong1{
    margin: 10px 50px 0px 42px;
}
.thumb{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
    p{
        font-family: 'Hind Siliguri', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.02em;
        color: #7C8DB5;
        margin-top: 7px;
    }
    h1{
        font-family: 'Hind Siliguri', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
        color: #2D2D2D;
    }
}
.ppp{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    h2{
        font-family: 'Hind Siliguri', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.02em;
        color: #7C8DB5;
        margin-top: 10px;
    }
}
.ppp h1{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px; 
    letter-spacing: -0.02em;
    color: #2D2D2D;
}
.ongt{
    display: flex;
    align-items: center;
}
.ong2{
    display: flex;
    flex-direction: column;
    margin: 40px 50px 0px 42px;
    :first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    h1{
        font-family: 'Hind Siliguri', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
        color: #2D2D2D;
    }
    :last-child{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 18px;
        div{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        p{
            font-family: 'Hind Siliguri', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #2D2D2D;
        }
    }
}
.ong3{
    margin: 40px 50px 34px 40px;
}