header{
    display: flex;
 
    padding: 0 50px;
    overflow: hidden;
}
.map img{
    width: 800px;

}
.official p{
    color: #b7a57a;
    font-size: 35px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.name{
    color:#ffffff;
    width: 400px;
    font-size: 50px;
}

.malumotlar{
    font-size: 35px;
    background: transparent;
    outline: none;
    border-radius:50px ;
    border: 2px solid #b7a57a;
    padding:15px 5px ;
    color: #ffffff;
    width: 250px;
    transition: 0.3s;

}
.malumotlar:hover{
    background: #b7a57a;
    color: #ffffff;
    cursor: pointer;

}
@media(max-width:1024px){
    .map img{
        width: 542px;
    }
    .malumotlar{
        font-size: 28px;
    }
    .slider-container{
        width: 706px;
    }
    .slayd_1{
        width: 1000px;
    }
}
@media(max-width:768px){
    .name p{
        font-size: 38px;
    }
    .official p{
        font-size: 27px;
    }
    .malumotlar{
        font-size: 23px;
        width: 197px;
        padding: 6px 6px;
    }
    header{
        padding: 0 20px;
    }
    .map img{
        width: 386px;
    }
    .title{
        width: 360px;
    }
}
@media(max-width:425px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .malumotlar{
        width: 200px;
        padding-top: 7px;
    }
    .official p{
        margin: 10px 0px 10px 0px;
    }
    .map{
        margin-top: 60px;
    }
}
@media (max-width:375px) {
    header{
        width: 100%;
    }
}
@media (max-width:320px) {
    header{
        width: 120%;
    }
}