*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;

}
.container{
    max-width: 1300px;
    background: #32446b;
    padding-top: 40px; 
    margin: 0 auto;
}
body{
    background: #32446b;
}
main{
    background:#ffffff;
}
.resnavbar{
    display:none;
}