.newscolor{
    background: #ffffff;
    width: 100%;
}
.xabarlar p {
    font-size: 25px;
}
.buttons{
    width: 60px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.buttons img:hover{
    cursor: pointer;
}
.firstslide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxes{
    height: 350px;
    width: 1150px;
    display: flex;
    overflow: hidden;
}
.box{
    height: 350px;
    width: 280px;
    margin-left: 10px;
    transition: 0.3s;
}
.picture{
    background-color: rgb(94, 94, 94);
    width: 280px;
    height: 180px;
}
.text{
    background-color: rgb(206, 206, 206);
    margin-top: -10px;
    width:250px;
    height:170px ;
}
.slide{
    display: flex;
    width:2000px;
    height:170px ;
    transition: 0.3s;

    
}
.secondslide{
    width: 1250px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.contact{
    height: 250px;
    width: 600px;
    background-color: darkorange;
}
.usefulsites{
    height: 250px;
    width: 600px;
    display: flex;
}
.minibuttons{
    width: 500px;
    background-color: darkred;
    display: flex;
    align-items: center;
}
.miniboxes{
    height: 250px;
    width: 5000px;
    display: flex;
    overflow: hidden;
    background-color: darkolivegreen;

}
.minibox{
    height: 180px;
    width: 250px;
    margin-right: 10px;
}
.rightbtn2{
    height: 50px;
    
}
.leftbtn2{
    height: 50px;
}
.minipicture{
    background-color: rgb(94, 94, 94);
    width: 250px;
    height: 150px;
}
.minitext{
    background-color: rgb(206, 206, 206);
    margin-top: -10px;
    width:220px;
    height:120px ;
}
.slide2{
    display: flex;
    width:2000px;
    transition: 0.3s;

    
}