.menu-btn2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger2 {
  width: 22px;
  height: 4px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger2::before,
.menu-btn__burger2::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger2::before {
  transform: translateY(-8px);
}
.menu-btn__burger2::after {
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn2.open2 .menu-btn__burger2 {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn2.open2 .menu-btn__burger2::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn2.open2 .menu-btn__burger2::after {
  transform: rotate(-45deg) translate(35px, 35px);
}



.menu2{
  display: flex;
  position: absolute;
  flex-direction: column;
  height:100vh;
  width: 95vw;
  transition: 0.3s;
  background:white;
  padding: 20px;
  transform:translateX(-150%);

}
.menuopen{

  transform:translateX(0%);


}

.asosiy-menu2{
  margin-top:20px;
  color:#32446b;


}

.ressubmenu1  {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
.ressubmenu2{
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
.ressubmenu3{
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
.ressubmenu4  {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
.ressubmenu5  {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
.ressubmenuopen  {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}


.ressubmenubtn{
  color:#3d4964;

  margin-left: 15px;
  margin-top: 15px;
  transition: 0.3s;

}