.slayd_1{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 1300px;
}
.slayderlar{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}
.carusel{
    display: flex;
    left: 0;
    height: 540px;
    position: relative;
    transition: all ease-in-out 0.3s;
}
.slider-container{
    overflow: hidden;
    width: 1200px;
    height: 550px;
    margin-right: 20px;
}
.child{
    width: 300px;
    height: 220px;
    margin:0px 5px 0px 5px;
}
.btnout{
    width: 300px;
    height: 220px;
    display: flex;
    align-items: center;

}
.btnout:hover{
    background: rgba(183, 165, 122, 0.5);
    margin-bottom: 10px;
}
.btn_1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    display: none;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    background: none;
    outline: none;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.btn_1:hover{
    background: #FFFFFF;
    color: #B7A57A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.child:hover .btn_1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 213px;
    height: 44px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.childp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -20px;
    width: 280px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #1B1B29;
}
.slayding1{
    background: url(./files/img\ 1.svg);
}
.slayding2{
    background: url(./files/img\ 2.svg);
}
.slayding3{
    background: url(./files/img\ 3.svg);
}
.slayding4{
    background: url(./files/img\ 4.svg);
}
.slayding5{
    background: url(./files/img\ 5.svg);
}
.slayding6{
    background: url(./files/img\ 6.svg);
}
.slayding7{
    background: url(./files/img\ 7.svg);
}

.nextbtn1{
    outline: none;
    width: 74px;
    height: 74px;
    background: url(./files//prev1.svg);
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}
.prevbtn1{
    outline: none;
    width: 74px;
    height: 74px;
    background: url(./files//next1.svg);
    border: none;
    border-radius: 50%;
    margin-top: 10px;
}
.btndiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    margin-left: 30px;
}
.nextbtn1:hover{
    background: url(./files/prev2.svg);
}
.prevbtn1:hover{
    background: url(./files/next2.svg);
}
.slaydh1{
    width: 232px;
    height: 58px;
    padding-top: 30px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
    color: #1B1B29;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.slayderlar{
    display: flex;
    flex-direction: column;
    height: 900px;
    max-width: 1300px;
    margin: 0 auto;
}
.news{
    color: #ffffff;
    margin-top: 200px;
    width: 100%;
}
.newss{
    margin: 0 auto;
}
/* slayd_2 */

.slayd2_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carusel2{
    display: flex;
    left: 0;
    width: 750px;
    position: relative;
    transition: all ease-in-out 0.3s;
}
.slayd2{
    height: 250px;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 20px;
}
.sdiv{
    width: 210px;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin: -100px 5px 0px 5px;
}
.sdiv h1{
    width: 210px;
    height: 130px;
    margin-bottom: -15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 40px auto;
}
.slayder1{
    background: url(./files/flaggerbsingle.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayder2{
    background: url(./files/matbuotxizmatisingle.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayder3{
    background: url(./files/oliymajlissingle.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayder4{
    background: url(./files/senatbinosisingle.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayder5{
    background: url(./files/lexuzsingle.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayder6{
    background: url(./files/wwwsingle.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayd1hover:hover{
    background: url(./files/flaggerbhover.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayd2hover:hover{
    background: url(./files/matbuotxizmatihover.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayd3hover:hover{
    background: url(./files/oliymajlishover.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayd4hover:hover{
    background: url(./files/senatbinosihover.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayd5hover:hover{
    background: url(./files/lexuzhover.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayd6hover:hover{
    background: url(./files/wwwhover.svg);
    width: 210px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin-bottom: -10px;
}
.slayd1hover{
    width: 210px;
    height: 110px;
}
.slayd2hover{
    width: 210px;
    height: 110px;
}
.slayd3hover{
    width: 210px;
    height: 110px;
}
.slayd4hover{
    width: 210px;
    height: 110px;
}
.slayd5hover{
    width: 210px;
    height: 110px;
}
.slayd6hover{
    width: 210px;
    height: 110px;
}
.slayd2p{
    width: 180px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.slayd2p p{
    width: 170px;
    height: 70px;
    margin: 0 auto;
}
.aaa{
    height: 40px;
}
.slayd2p a{
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    padding: 15px 0px 15px 0px;
    color: #B7A57A;
    width: 130px;
    height: 25px;
    border: 1px solid #B7A57A;
    box-sizing: border-box;
    border-radius: 22px;
}
.slayd2p a:hover{
    color: #FFFFFF;
    background: #B7A57A;

}
.slayd2p:hover a{
    display: flex;
}
.slider2-container{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 420px;
    height: 250px;
}
.nextbtn2{
    outline: none;
    width: 74px;
    height: 74px;
    background: url(./files//prev1.svg);
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}
.prevbtn2{
    outline: none;
    width: 74px;
    height: 74px;
    background: url(./files/next1.svg);
    border: none;
    border-radius: 50%;
    margin-top: -8px;
    margin-left: 10px;
}
.nextbtn2:hover{
    background: url(./files/prev2.svg);
}
.prevbtn2:hover{
    background: url(./files/next2.svg);
}

.call{
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-left: 30px;
}
.call a{
    font-size: 35px;
    line-height: 53px;
    width: 550px;
    color: #B7A57A;
}
.calla1{
    background: url(./files/callsingle.svg);
    width: 74px;
    height: 74px;
    outline: none;
    border: none;
    margin-right:40px; 
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.call1{
    display: flex;
    margin-bottom: 10px;
}
.call2{
    display: flex;
    margin-top: 10px;
}
.calla2{
    background: url(./files//Artboardsingle.svg);
    width: 74px;
    height: 74px;
    outline: none;
    border: none;
    margin-right:40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.call1:hover .calla1{
    background: url(./files//callhover.svg);
}
.call2:hover .calla2{
    background: url(./files/Artboardhover.svg);
}
@media(max-width:1024px){
    .slider-container{
        width: 706px;
    }
    .slayd_1{
        width: 1000px;
    }
    .slider2-container{
        width: 217px;
    }
    .call a{
        width: 490px;
    }
}
@media (max-width:768px) {
    .slayd_1{
        width: 768px;;
    }
    .child{
        width: 285px;
    }
    .slider-container{
        width: 595px;
    }
    .slayderlar{
        height: 1090px;
    }
    .slayd2_2{
        flex-direction: column;
    }
    .slayd2{
        width: 655px;
    }
    .slider2-container{
        width: 440px;
    }
    
}


@media (max-width:425px) {

    .navbar, .submenu{
        display:none;
    
    
    }
      .resnavbar{
        position: absolute;
        top: 15px;
        left: 20px;
        display:block;
    }
    .slayd_1{
        width: 425px;
        height: 1500px;
        display: block;
    }
    .slayd2{
        width: 400px;
    }
    .slider2-container{
        width: 220px;
    }
    .call{
        width: 425px;
        margin-left:0 ;
    }
    .call a{

        width: 300px;
        font-size: 23px;
    }
    .slider-container{
        overflow: visible;
        width: 425px;
    }
    .carusel{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .child{
        width: 200px;
        height: 140px;
        margin-bottom: 200px;
        background-position: center;
        background-size: contain;
    }
    .childp{
        font-size: 12px;
        width: 190px;
    }
    .btndiv{
        display: none;

    }
    .btnout{
        width: 200px;
        height: 140px;
    }
    .slayderlar{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2000px;
    }
    .slaydh1{
        text-align: center;
        width: auto;
    }
    .child:hover .btn_1 {
        width: 125px;
        height: 25px;
        font-size: 16px;
    }
    .slayd2p a{
        display: flex;
    }
}
@media (max-width:375px) {
    .carusel{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-left: 25px;
    }
    .slayd2p a{
        display: flex;
    }
    .child{
        width: 315px;
        height: 220px;
        margin-bottom: 200px;
        background-position: center;
        background-size: contain;
    }
    .childp {
        font-size: 15px;
        width: 275px;
    }
    .btnout{
        width: 310px;
        height: 220px;
    }
    .slayd_1{
        height: 3000px;
        align-items: center;
    }
    .slayderlar{
        height: 4900px;
        width: 114%;
    }
    .carusel2{
        display: grid;
        grid-template-columns: 1fr;
        height: 1500px;
    }
    .slider2-container{
        overflow: visible;
        height: 1500px;
    }
    .nextbtn2{
        display: none;
    }
    .prevbtn2{
        display: none;
    }
    .slayd2{
        flex-direction: column;
        height: 1500px;
    }
    .call{
        width: 375px;
        height: 400px;
    }
    .call1{
        padding-top: 60px;
    }
    .call a {
        width: 230px;
        font-size: 18px;
    }
    .sdiv{
        margin: -80px 5px 0px 5px;
        width: 290px;
        height: 170px;
    }
    .slayd1hover:hover{
        width: 290px;
        height: 170px; 
        margin-bottom: -50px;
    }
    .sdiv h1{
        width: 290px;
        height: 170px;
    }
    .slayd2hover:hover{
        width: 290px;
        height: 170px; 
        margin-bottom: -50px;
    }
    .slayd3hover:hover{
        width: 290px;
        height: 170px; 
        margin-bottom: -50px;
    }
    .slayd4hover:hover{
        width: 290px;
        height: 170px; 
        margin-bottom: -50px;
    }
    .slayd5hover:hover{
        width: 290px;
        height: 170px; 
        margin-bottom: -50px;
    }
    .slayd6hover:hover{
        width: 290px;
        height: 170px; 
        margin-bottom: -50px;
    }
    .slayd2p{
        width: 270px;
    }
}
@media(max-width:320px){
    .slayderlar{
        width: 135%;
    }
    .slayd2p a{
        display: block;
    }
}