*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;

}
.container{
    max-width: 1300px;
    background: #32446b;
    padding-top: 60px; 
    margin: 0 auto;
}
body{
    background: #32446b;
}
main{
    background:#ffffff;
}
.resnavbar{
    display:none;
}
.containermain{
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
}
.newsmain{
    height: auto;

}
.newspage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding-bottom: 40px;
}
.child{
    width: 300px;
    height: 220px;
    margin: 25px 5px 159px 5px;
}
.btnout{
    width: 300px;
    height: 220px;
    display: flex;
    align-items: center;

}
.btnout:hover{
    background: rgba(183, 165, 122, 0.5);
    margin-bottom: 10px;
}
.btn_1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    display: none;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    background: none;
    outline: none;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
}
.btn_1:hover{
    background: #FFFFFF;
    color: #B7A57A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.child:hover .btn_1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 213px;
    height: 44px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.childp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -20px;
    width: 280px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #1B1B29;
}
.slayding1{
    background: url(./files/img\ 1.svg);
}
.slayding2{
    background: url(./files/img\ 2.svg);
}
.slayding3{
    background: url(./files/img\ 3.svg);
}
.slayding4{
    background: url(./files/img\ 4.svg);
}
.slayding5{
    background: url(./files/img\ 5.svg);
}
.slayding6{
    background: url(./files/img\ 6.svg);
}
.slayding7{
    background: url(./files/img\ 7.svg);
}
.slaydh1{
    width: 232px;
    height: 58px;
    padding-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
    color: #1B1B29;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width:769px) {
    .newspage{
        grid-template-columns: 1fr 1fr;
        margin-left: 45px;
    }
}
@media (max-width:426px) {
    .newspage{
        grid-template-columns: 1fr;
        margin-left: 55px;
    }
}
@media (max-width:376px) {
    .newspage{
        margin-left: 35px;
    }
}
@media (max-width:376px) {
    .newspage{
        margin-left: 5px;
    }
}
