
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    overflow: hidden;
  }
.navbar h4{
  color: #ffffff;
}
.navbar h2{
  color: #ffffff;
}
/* main navbar start  */
.main-navbar{
    display: flex;
    justify-content: space-between;
    width: 800px;
    transition: 0.3s    ;

}
.language{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
  }
  .uz{
    border: 1px solid #b7a57a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #b7a57a;
  }
  .uz:hover{
    background:#b7a57a ;
    border: none;
    color: #ffffff;
    cursor: pointer;
  
  }
  .ru:hover{
    background:#b7a57a ;
    border: none;
    color: #ffffff;
    cursor: pointer;
  
  }
  .ru{
    border: 1px solid #b7a57a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #b7a57a;
  }
  /* main navbar  end  */
  .menu{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    transform: translateY(-100px);
    display: none;
    transition: 0.3s;

  }
  .menu a{
    color: #ffffff;
  }
  .menuback{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    transform: translateY(0);

  }


