
  .submenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100px;
    padding: 0 50px;
    overflow: hidden;
    padding-left: 250px;
  }
  .submenu a{
    color:#ffffff;
  }
  .submenubtn:hover{
    color: #b7a57a;
  }
  .submenuflex{
      display: flex;
      flex-direction: column;
  }
  /* sub menu 1  */
  .submenu1{
    display: flex;
    transform: translateY(-250px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
    
  }
  .submenu1open{
    display: flex;
    transform: translateY(10px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }
  /* sub menu 2  */
  .submenu2{
    display: flex;
    transform: translateY(-250px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }
  .submenu2open{
    display: flex;
    transform: translateY(-40px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }
  /* sub menu 3- */
  .submenu3{
    display: flex;
    transform: translateY(-350px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }
  .submenu3open{
    display: flex;
    transform: translateY(-80px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }
  /* sub menu 4 */
  .submenu4{
    display: flex;
    transform: translateY(-450px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }
  .submenu4open{
    display: flex;
    transform: translateY(-100px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }
  /* sub menu 5  */
  .submenu5{
    display: flex;
    transform: translateY(-550px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }
  .submenu5open{
    display: flex;
    transform: translateY(-155px);
    width: 1000px;
    justify-content: space-between;
    transition: 0.5s;
  }